[submodule "lib"]
	path = lib
	url = https://github.com/maul-esel/AHK-Util-Funcs.git
[submodule "Canvas"]
	path = Canvas
	url = https://github.com/Uberi/Canvas-AHK.git
[submodule "ahk_library"]
	path = ahk_library
	url = https://github.com/lordkrandel/ahk_library.git
[submodule "CGUI"]
	path = CGUI
	url = https://github.com/maul-esel/CGUI.git
